<!DOCTYPE html>
<html>
	<head>
		<title>Biboardy</title>
		<link type="text/css" rel="stylesheet" href="../styles/game.css" />
		<link type="text/css" rel="stylesheet" href="../../node_modules/material-design-icons/iconfont/material-icons.css" />
		<script src="../../node_modules/vue/dist/vue.js"></script>
		<script src="../scripts/game.js"></script>
	</head>
	<body>
		<audio id="audio--theme" src="http://televisiontunes.com/uploads/audio/Jeopardy%20-%202008-2015.mp3"></audio>
		<audio id="audio--think" src="http://televisiontunes.com/uploads/audio/Jeopardy%20-%202008%20-%20Think%20Music.mp3"></audio>
		<audio id="audio--board" src="https://www.myinstants.com/media/sounds/jeopardy-board-fill-sound-2016-present-cleaner-version.mp3"></audio>
		<audio id="audio--time-up" src="https://www.myinstants.com/media/sounds/times-up_AN8OlqZ.mp3"></audio>
		<audio id="audio--correct" src="https://www.myinstants.com/media/sounds/pos-jeapordyrightanswer.mp3"></audio>
		<div id="game">
			<!-- ### Login screen ### -->
			<div class="pane" v-bind:class="gamestate === 'login' ? '' : 'hidden'" id="login">
				<div>
					<h2>Players</h2>
					<div>
						<input type="text" v-for="player in players" v-model.trim="player.name"/>
						<!--<span>{{ player.name }}</span>-->
					</div>
					<input type="text" placeholder="New Player" v-on:keyup.enter="addPlayer" ref="playerEntry"/>
					<button ref="gameStart" v-on:click="gameProgress('start')">
						<span class="material-icons">forward</span>
					</button>
				</div>
			</div>
			<!-- ### Jeopardy board ### -->
			<div class="pane" v-bind:class="gamestate === 'jeopardy' || gamestate === 'double' || gamestate === 'final' ? '' : 'hidden'" id="board">
				<div v-if="gamestate !== 'final'" class="turndisplay">{{ playerupname }}'s Turn!</div>
				<div v-if="gamestate === 'jeopardy' || gamestate === 'transitionDouble'">
					<div v-for="category in data.boards.jeopardy.categories">
						<!--Header-->
						<span class="title">{{ category.name }}</span>
						<!--Questions-->
						<span class="price" v-for="index in [0, 1, 2, 3, 4]" v-on="category.questions[index] && clickPermit ? {click: () => {openQuestion(category, index, ((index * Number(data.priceInc)) + (Number(data.priceStart))))}} : {}">{{ (category.questions[index]) ? '$' + ((index * Number(data.priceInc)) + Number(data.priceStart)).toString() : '' }}</span>
					</div>
				</div>
				<div v-if="gamestate === 'double' || gamestate === 'transitionFinal'">
					<div v-for="category in data.boards.doublejeopardy.categories">
						<!--Header-->
						<span class="title">{{ category.name }}</span>
						<!--Questions-->
						<span class="price" v-for="index in [0, 1, 2, 3, 4]" v-on="category.questions[index] && clickPermit ? {click: () => {openQuestion(category, index, (((index * Number(data.priceInc)) + Number(data.priceStart)) * 2))}} : {}">{{ (category.questions[index]) ? '$' + (((index * Number(data.priceInc)) + Number(data.priceStart)) * 2).toString() : '' }}</span>
					</div>
				</div>
				<div v-if="gamestate === 'final'" class="final">
					<span class="title">Final Jeopardy</span>
					<span v-on:click="openQuestion(false, undefined, undefined, true)" class="material-icons good">arrow_forward</span>
				</div>
			</div>
			<!-- ### Jeopardy question ### -->
			<div class="pane hidden" id="questionDisplay">
				<!--Question-->
				<span class="title">{{ currentQuestion.data }}</span>
				<!--Skip-->
				<span v-if="!currentQuestion.final" v-on:click="closeQuestion()" class="material-icons good">redo</span>
				<!--Players-->
				<div>
					<div v-for="player in players">
						<span class="title">
							<span v-if="currentQuestion.disabled.indexOf(player) == -1" class="material-icons bad" v-on:click="answerQuestion(player, false)">close</span>
							{{ player.name }}
							<span v-if="currentQuestion.disabled.indexOf(player) == -1" class="material-icons good" v-on:click="answerQuestion(player, true)">check</span>
						</span>
						<span class="price" v-bind:class="(player.score < 0) ? 'bad' : ''">{{ (player.score < 0) ? '-' : '' }}${{ Math.abs(player.score).toLocaleString('en-US') }}</span>
						<input type="number" class="price" v-model.number="player.wager" min="0" v-if="currentQuestion.final"></input>
					</div>
				</div>
			</div>
			<!-- ### Transition ### -->
			<div class="pane" v-bind:class="gamestate === 'transitionDouble' || gamestate === 'transitionFinal'|| gamestate === 'transitionEnd' ? '' : 'hidden'" id="transition">
				<div v-for="player in JSON.parse(JSON.stringify(players)).sort((a, b) => {return (a.score < b.score) ? 1 : -1})">
					<span class="title">{{ player.name }}</span>
					<span class="price" v-bind:class="(player.score < 0) ? 'bad' : ''">{{ (player.score < 0) ? '-' : '' }}${{ Math.abs(player.score).toLocaleString('en-US') }}</span>
				</div>
				<span v-if="gamestate !== 'transitionEnd'" v-on:click="gamestate === 'transitionDouble' || gamestate === 'transitionFinal' ? gameProgress('transition') : ()=>{}" class="material-icons good">arrow_forward</span>
			</div>
		</div>
	</body>
</html>