<!DOCTYPE html>
<html>
	<head>
		<title>Biboardy Editor</title>
		<link type="text/css" rel="stylesheet" href="../styles/editor.css" />
		<link type="text/css" rel="stylesheet" href="../../node_modules/material-design-icons/iconfont/material-icons.css" />
		<script src="../../node_modules/vue/dist/vue.js"></script>
		<script src="../scripts/menukit.js"></script>
		<script src="../scripts/editor.js"></script>
	</head>
	<body>
		<div class="menu" id="menu">
			<span class="button" id="menu--save">Save</span>
			<span class="button" id="menu--load">Load</span>
			<span class="spacer"></span>
			<span class="select" id="menu--mode">
				<span value="jeopardy" selected>Jeopardy</span>
				<span value="doublejeopardy">Double Jeopardy</span>
				<span value="finaljeopardy">Final Jeopardy</span>
			</span>
			<span class="spacer"></span>
		</div>
		<div id="editor">
			<div class="jeopardy" id="editor--jeopardy">
				<div v-for="category in jeopardy.categories" v-bind:index="jeopardy.categories.indexOf(category)">
					<div class="category">{{ category.name }}</div>
					<div class="question" v-for="question in category.questions">{{ question }}</div>
				</div>
			</div>
			<div class="jeopardy hidden" id="editor--double-jeopardy">
				<div v-for="category in doublejeopardy.categories" v-bind:index="doublejeopardy.categories.indexOf(category)">
					<div class="category">{{ category.name }}</div>
					<div class="question" v-for="question in category.questions">{{ question }}</div>
				</div>
			</div>
			<div class="final hidden" id="editor--final-jeopardy">
				<div class="final question">{{ finaljeopardy.question }}</div>
			</div>
		</div>
		<div class="menu" id="settings">
			<span class="label">Price start:</span>
			<span class="number" id="settings--start-price">200</span>
			<span class="label">Price increase:</span>
			<span class="number" id="settings--start-inc">200</span>
		</div>
		<div v-bind:class="visible ? 'shown' : 'hidden'" class="popup" id="prompt">
			<div>
				<h3>{{ message }}</h3>
				<textarea v-model.trim="value" rows="4" v-on:keyup.enter="submit" v-on:keyup.escape="cancel"></textarea>
				<div>
					<button v-on:click="submit">Okay</button>
					<button v-on:click="cancel">Cancel</button>
				</div>
			</div>
		</div>
	</body>
</html>